.intro{
  border-radius: 50%;
  border: 1px #c9e6e6 solid;
  /* position: absolute; */
  height: 25em;
  width: 25em;
  padding: 0.1em;
  justify-content: center;
}

#profile_pic{
  width: 50%;
  /* border: 5px aqua solid; */
  border-radius: 50%;
  margin-left: 25%;
  margin-top: 5%;
  background-color: aliceblue;
  /* grid-column: span 4; */
}

p{
  font-family: Verdana, sans-serif;
  text-align: center;
  text-justify: auto;
}

footer{
  text-align: center;
  font-size: 3em;
  font-family: 'Brush Script MT', cursive;
  font-weight: bold;
}

body {
  background-color: #c9e6e6;
}